APP_NAME=Flowable BPM Backend
APP_VERSION=1.0.0
APP_HOST=0.0.0.0
APP_PORT=8000

DATABASE_URL=postgresql+asyncpg://postgres:postgres@localhost:5432/bpmn
AUTO_CREATE_TABLES=true

FLOWABLE_BASE_URL=http://localhost:8080/flowable-rest
FLOWABLE_USERNAME=rest-admin
FLOWABLE_PASSWORD=test
